.cart_item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cart_item img{
    margin-top: 1px;
    width: 140px;
    right: 10px;
    top: 4px;
}
.cart_item:nth-child(1){
         border-top: 1px solid gray;
}
.item_name{
    size: 12px;
    font-weight: bolder;
    position: relative;
    left: 8%;
 }
 .item_price{
     position: relative;
     top: 55px;
     right: 48px;
     color: green;
 }
 .cart_button{
    background-color: rgb(245, 20, 20);
    padding: 2px;
    color: aliceblue;
    border: 0.5px;
    border-radius: 3px;
    padding: 2px 2px;
    outline: none;
    cursor: pointer;
}
.cart_button:hover{
    background-color: rgb(241, 105, 105);
    color: rgb(150, 0, 0);
    margin-left: 2px;
}
.add_item{
    background-color: rgb(58, 244, 250);
    padding: 2px 5px;
    border: none;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 70px;
    right: -25px;
}
.add_item:hover{
    background-color: cadetblue;
}
.low_item{
    background-color: rgb(58, 244, 250);
    padding: 2px 5px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 70px;
    right: 170px;
}
.low_item:hover{
    background-color: cadetblue;
}